/* MDBReact Imports */
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css'; 
@import '../node_modules/bootstrap-css-only/css/bootstrap.min.css'; 
@import '../node_modules/mdbreact/dist/css/mdb.css';

/* Google Fonts Imports */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
body{
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, strong, b, .display-1, .display-2, .display-3, .display-4, .h1-responsive, .h2-responsive, .h3-responsive, .h4-responsive, .h5-responsive, .h6-responsive{
    font-weight: 700;
}
.black-all > a{
  color: #000;
}

/* Navbar Styles Starts */
.nav-item > a, i {
  color: #000;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-transform: uppercase;
}
.navbar-logo{
  width: 50px;
  cursor: pointer;
}
.nav-item > a {
  position: relative;
  color: #000;
  text-decoration: none;
}

.nav-item > a:hover {
  color: #000;
}
.nav-item > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.nav-item > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
/* Navbar Styles Ends */


/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 540px) { 
  .nav-item > a, i {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 

}

/* // Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
  
}

/* // Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) { 

}