/* MDBReact Imports */
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css'; 
@import '../node_modules/bootstrap-css-only/css/bootstrap.min.css'; 
@import '../node_modules/mdbreact/dist/css/mdb.css';

/* Google Fonts Imports */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
body{
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, strong, b, .display-1, .display-2, .display-3, .display-4, .h1-responsive, .h2-responsive, .h3-responsive, .h4-responsive, .h5-responsive, .h6-responsive{
    font-weight: 700;
}
.black-all > a{
  color: #000;
}